.missions-page {
  width: 100%;
  background: #ffffff;
  font-family: "Segoe UI", sans-serif;
}

/* HERO SECTION */
.mission-hero {
  background-size: cover;
  background-position: center;
  padding: 60px 80px;
  color: white;
}
.mission-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.mission-text {
  max-width: 650px;
}

.mission-tag {
  font-size: 14px;
  font-weight: 600;
  opacity: 0.8;
}

.mission-text h1 {
  font-size: 40px;
  line-height: 1.2;
  margin: 10px 0 20px;
}

.mission-text h4 {
  margin-top: 20px;
}

.mission-text p {
  margin-top: 10px;
  line-height: 1.6;
}

/* BADGE + PROGRESS */
.mission-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.badge-box {
  background: #9ec3e6;
  padding: 20px;
  border-radius: 12px;
  color: #1b3a57;
  width: 200px;
}

.progress-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 8px solid #f2f2f2;
  border-top: 8px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* CHALLENGES */
.challenges-section {
  padding: 40px 80px;
}

.section-title {
  font-size: 18px;
  margin-bottom: 20px;
}

.challenges-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.challenge-card {
  background: #f7f9fc;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  transition: 0.2s ease;
  color: #1b3a57;
}
.icon {
  width: 84px;
  height: 101px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.medal {
  width: 102px;
  height: 96px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.challenge-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.challenge-card .icon {
  font-size: 32px;
}

.challenge-card.highlight {
  border-bottom: 4px solid orange;
}

/* QUIZ */
.quiz-section {
  padding: 40px 80px 60px;
}

.quiz-box {
  background: #f4f6f9;
  padding: 18px;
  border-radius: 10px;
  color: #555;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .mission-content {
    flex-direction: column;
  }

  .mission-info {
    justify-content: flex-start;
  }

  /* .mission-hero,
  .challenges-section,
  .quiz-section {
    padding: 30px 20px;
  } */
}
